<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <center>
        <%- include('./header.ejs') %>
        <fieldset>
            <form id="registerForm" action="/signup" method="post">
                <input type="text" name="name" class="inpp" placeholder="Enter Name">
                <input type="email" name="email" class="inpp" placeholder="Enter Email">
                <input type="password" name="password" class="inpp" placeholder="Set your Password">
                <button type="submit">Sign Up</button>
            </form>
        </fieldset>
        </center>
</body>
</html>